@charset "utf-8";


body {
	background-color:c7c7c7;
	width: 70em;
	margin: 0 auto;
}

#divtotal {
	
	border: 7em solid #8c8c8c;
	padding: 32px;
}
.colorbox {
	background-color: #6b5858;	
	border:2em solid d9cccc;
	padding: 16px;
	width: 200px;
	height: 200px;
	margin: 32px;
	
	
}
/*
#colorpicker {
	
}

/* CSS Document */
/*
#compliment{
	width: 7em;
	height: 7em;
}

#suppliment1 {
	width: 7em;
	height: 7em;
}

#suppliment2 {
	width: 7em;
	height: 7em;
}
*/