@charset "utf-8";

html{
	background-color: #666;
	
}

body {
	margin: 0 auto;
	font-family:"Eras Medium ITC";
	font-size:1.3em;
	color:#FFFFFF;
	background-color:c7c7c7;
	background-image:url('../images/main-background.png');
	
	background-size:cover;
	max-width: 70%;
	min-height: 900px;
	
}

#cover {
	background-color: rgba(0,0,0,0.6);	
}


#divtotal {
	/*position: relative;*/
	margin: 0 auto;
	
	border: 2em solid #8c8c8c;
	padding: 32px;
	width: 49%;
	
	min-height: 900px;
	background-color: rgba(0,0,0, 0.7);
	z-index:1000;
	
	
	
	
}
/*form {
	max-width: 60em;
}*/

#title {
	margin: 0 auto;
	background: transparent url('../images/title.png') no-repeat top center;
	height: 70px;
	width: 400px;
}


.colorbox {
	background-color: #6b5858;	
	border:2em solid d9cccc;
	
	width: 200px;
	height: 200px;
	margin: 32px;
	
}

.contain {
	margin: 2em auto;
	width: 35%;
	height: 17em;
	
	
	padding:1em;
	display: inline-block;
	z-index:5000;
	
}

.save-load {
	margin-top: 210px;
	width: 17em;
	height: 10em;
	display: block;
}

.load-load {
	padding-top: 32px;
	width: 17em;
	
	display: inline;
	
}



input {
	margin-top:14px;
	margin-bottom:14px;
}

input:invalid {
	color:#FF0000;
}

input:valid {
	background-color: #dbdbdb;
	color: #030;	
}

input:focus {
	
	background-color: #f7f7e4;
	box-shadow: 1px 1px 3px rgba(0,153,51, 0.4);
	
}
