@charset "utf-8";


body {
	background-color:c7c7c7;
	width: 60em;
	min-height: 1122px;
	margin: 0 auto;
}

#divtotal {
	
	border: 2em solid #8c8c8c;
	padding: 32px;
	min-height: 1000px;
	background-color:#302e2e;
	
	
}
.colorbox {
	background-color: #6b5858;	
	border:2em solid d9cccc;
	
	width: 200px;
	height: 200px;
	margin: 32px;
}

.contain {
	width: 17em;
	height: 17em;
	
	margin: 2em;
	display: inline-block;
	
}


.load-load {
	padding-top: 40em;
	width: 17em;
	height: 17em;
	display: inline;
	
}

.save-load {
	margin-top: 40em;
	width: 17em;
	height: 17em;
	display: inline;
}

input:invalid {
	color:#FF0000;
}

input:valid {
	background-color: #dbdbdb;
	color: #030;	
}

input:focus {
	
	background-color: #f7f7e4;
	box-shadow: 1px 1px 3px rgba(0,153,51, 0.4);
	
}
